SELECT
  CONCAT('DIAGNOSIS_', diagnosis_id) AS condition_occurrence_id,
  CONCAT('PATIENT_', patientnumber) AS person_id,
  CONCAT('DIAGNOSIS_', diagnosis_sourcecode) AS condition_concept_id,
  CAST(diagnosis_registration_date AS DATE) AS condition_start_date,
  DATETIME(diagnosis_registration_date) AS condition_start_datetime,
  CAST(diagnosis_end_date AS DATE) AS condition_end_date,
  DATETIME(diagnosis_end_date) AS condition_end_datetime,
  CAST(NULL AS STRING) AS condition_type_concept_id,
  CAST(NULL AS STRING) AS condition_status_concept_id,
  CAST(NULL AS STRING) AS stop_reason,
  CAST(NULL AS STRING) AS provider_id,
  CAST(NULL AS STRING) AS visit_occurrence_id,
  CAST(NULL AS STRING) AS visit_detail_id,
  CONCAT(diagnosis_sourcecode, d.diagnosis) AS condition_source_value,
  CAST(NULL AS STRING) AS condition_source_concept_id,
  CAST(NULL AS STRING) AS condition_status_source_value
FROM
  {{project_raw}}.raw_data.diagnosis d
