SELECT
  CONCAT( 'CLINICALINFO_', clin_info_id) AS observation_id,
  CONCAT('PATIENT_',patientnumber) AS person_id,
  CONCAT( 'CLINICALINFO_',clinical_info) AS observation_concept_id,
  DATE(clinical_info_date) AS observation_date,
  DATETIME(TIMESTAMP(clinical_info_date)) AS observation_datetime,
  CAST(NULL AS STRING) AS observation_type_concept_id,
  CAST(clinical_info_outcome AS float64) AS value_as_number,
  CAST(NULL AS STRING) AS value_as_string,
  CAST(NULL AS STRING) AS value_as_concept_id,
  CAST(NULL AS STRING) AS qualifier_concept_id,
  CAST(NULL AS STRING) AS unit_concept_id,
  CAST(NULL AS STRING) AS provider_id,
  CAST(NULL AS STRING) AS visit_occurrence_id,
  CAST(NULL AS STRING) AS visit_detail_id,
  CAST(clinical_info AS string) AS observation_source_value,
  CAST(NULL AS STRING) AS observation_source_concept_id,
  CAST(NULL AS STRING) AS unit_source_value,
  CAST(NULL AS STRING) AS qualifier_source_value,
  CAST(clinical_info_outcome AS string) AS value_source_value,
  CAST(NULL AS STRING) AS observation_event_id,
  CAST(NULL AS STRING) AS obs_event_field_concept_id
FROM
  {{project_raw}}.raw_data.clinicalinfo
WHERE
  clinical_info LIKE '%score%'   --a score is regarded an observation and not a measurement.