SELECT
    'thevisit' AS visit_occurrence_id
    ,CAST(NULL AS STRING) person_id
    ,CAST(NULL AS STRING) visit_concept_id
    ,DATE(2023,6,28) AS visit_start_date
    ,CAST(NULL AS DATETIME) AS visit_start_datetime
    ,DATE(2023,7,1) AS visit_end_date
    ,CAST(NULL AS DATETIME) AS visit_end_datetime
    ,CAST(NULL AS STRING) AS visit_type_concept_id
    ,CAST(NULL AS STRING) AS provider_id
    ,CAST(NULL AS STRING) AS care_site_id
    ,CAST(NULL AS STRING) AS visit_source_value
    ,CAST(NULL AS STRING) AS visit_source_concept_id
    ,CAST(NULL AS STRING) AS admitted_from_concept_id
    ,CAST(NULL AS STRING) AS admitted_from_source_value
    ,CAST(NULL AS STRING) AS discharged_to_concept_id
    ,CAST(NULL AS STRING) AS discharged_to_source_value
    ,CAST(NULL AS STRING) AS preceding_visit_occurrence_id
	
