SELECT
  CONCAT('PATIENT_',patientnumber) AS person_id,
  DATE(deaddate) AS death_date,
  DATETIME(deaddate) AS death_datetime,
  CAST(NULL AS string) AS death_type_concept_id,
  CAST(NULL AS string) AS cause_concept_id,
  CAST(NULL AS string) AS cause_source_value,
  CAST(NULL AS string) AS cause_source_concept_id
FROM
  {{project_raw}}.raw_data.patient
WHERE
  deaddate IS NOT null
