SELECT
  CONCAT('MEDICATION_', patientnumber, '_', medication_id) AS drug_exposure_id,
  CONCAT('PATIENT_',patientnumber) AS person_id,
  CONCAT('MEDICATION_',medication_sourcecode) AS drug_concept_id,
  COALESCE( DATE(administration_date), DATE(prescription_date) ) AS drug_exposure_start_date,
  COALESCE( DATETIME(DATE(administration_date), PARSE_TIME('%H:%M:%S', administration_time)), DATETIME(prescription_date) ) AS drug_exposure_start_datetime,
  DATE( IFNULL(administration_date, DATE_ADD(prescription_date, INTERVAL 29 DAY)) ) AS drug_exposure_end_date,
  DATETIME( DATE(IFNULL(administration_date, DATE_ADD(prescription_date, INTERVAL 29 DAY))), IFNULL(PARSE_TIME('%H:%M:%S', administration_time), TIME(0,0,0)) ) AS drug_exposure_end_datetime,
  CAST(NULL AS DATE) AS verbatim_end_date,
  CAST(NULL AS STRING) AS drug_type_concept_id,
  CAST(NULL AS STRING) AS stop_reason,
  CAST(NULL AS INT64) AS refills,
  CAST(0 AS FLOAT64) AS quantity,
  CAST(NULL AS INT64) AS days_supply,
  CAST(NULL AS STRING) AS sig,
  CONCAT('MEDICATION_', route_sourcecode) AS route_concept_id,
  CAST(NULL AS STRING) AS lot_number,
  CAST(NULL AS STRING) AS provider_id,
  CAST(NULL AS STRING) AS visit_occurrence_id,
  CAST(NULL AS STRING) AS visit_detail_id,
  med.medication AS drug_source_value,
  CAST(NULL AS STRING) AS drug_source_concept_id,
  route AS route_source_value,
  CAST(NULL AS STRING) AS dose_unit_source_value
FROM
  {{project_raw}}.raw_data.medication med
